{% extends "base.html" %}

{% block content %}

    {% for post in posts %}
      <h2><a href="{{ url_for('posts.detail', slug=post.slug) }}">{{ post.title }}</a></h2>
      {% if post.body %}
        {% if post.post_type == 'Quote' %}
          <blockquote>{{ post.body|truncate(100) }}</blockquote>
          <p>{{ post.author }}</p>
        {% else %}
          <p>{{ post.body|truncate(100) }}</p>
        {% endif %}
      {% endif %}
      {% if post.embed_code %}
        {{ post.embed_code|safe() }}
      {% endif %}
      {% if post.image_url %}
        <p><img src="{{ post.image_url }}" /><p>
      {% endif %}
      <p>
        Posted by <strong style="color:#D500A2">{{ post.author }}</strong> | 
        {{ post.created_at.strftime('%A, %d %B %Y, %R') }} |
        {% with total=post.comments|length %}
            <a href="{{ url_for('posts.detail', slug=post.slug) }}">{{ total }} comment {%- if total > 1 %}s{%- endif -%}</a>
        {% endwith %}
        <br /><br />
        {% for comment in post.comments %}
          <span style="padding-left: 5px"><strong style="color:#D500A2">{{ comment.author }}</strong>: <i>{{ comment.body }}</i></span><br />
        {% endfor %}
      </p>
      <hr style="width: 640px" />
      <br /><br />
    {% endfor %}
{% endblock %}