body {
  background: #eeeeee;
  background: url('img/brickwall.png');
}
.container {
  width: 664px;
  margin-bottom: 40px;
}
.content {
  padding-top: 80px;
}
ul {
  list-style: none;
  margin: 0px;
}
ul.flashes {
  margin-bottom: 20px;
}
ul.flashes > li {
  background: #1d1d1d;
  color: white;
  padding: 3px;
  margin: 5px 0px;
  width: 657px;
}
.post_content {
  background: white;
  border: 1px solid white;
  width: 642px;
  margin-bottom: 30px;
  padding: 5px 10px;
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.25);
}
.pagination_div {
  margin: 15px 0px;
}
.floatright {
  float:right !important;
}

.position_relative {
  position: relative;
}


.pag-link {
  background: #bfdbdd;
  padding: 3px 5px;
}
.pag-link-text {
  color: #0069d6;
}
/*
h2 a {
  color: #03899c;
}
p {
  color: white;
}
*/
