<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fish Post</title>
    <!--<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">-->
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/readable/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='fishpost_style.css') }}" rel="stylesheet">
  </head>

  <body>
    {%- block topbar -%}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <ul class="nav navbar-nav">
          <a href="http://feru.sites.olt.ubc.ca/" title="Fisheries Economics Research Unit, UBC"><img class="logo-nav pull-left" src="{{ url_for('static', filename='img/feru-logo.png') }}" /></a>
          <li><a href="/">Home</a></li>
          <li><a href="/admin">Admin</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Post Something <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% for type in ('video', 'image', 'link') %}
                  <li><a href="{{ url_for("admin.create", type=type) }}">{{ type|title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
          <span>
          {% if g.user %}
            <a class="login-btn pull-right" href="{{ url_for ("logout") }}">sign out</a>
          {% else %}
            <a class="login-btn pull-right" href="{{ url_for ("login") }}">sign in</a>
          {% endif %}
          </span>
      </div>
    </nav>
    {%- endblock -%}

    <div class="container">
      <div class="content">

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="flashes">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {

          var iframes = $("iframe");
          iframes.each(function() {
              var aspectRatio = this.height / this.width;
              var new_height = 640 * aspectRatio;
              //console.log(aspectRatio);
              this.width = 640;
              this.height = new_height;
              //Fix z-index youtube video embedding
              var url = $(this).attr("src");
              var char = "?";
              if(url.indexOf("?") != -1){
                char = "&";
              }
              $(this).attr("src",url+char+"wmode=transparent");
          });
          $("#videoPlayer").width = 640;
      });
    </script>
    {% endblock %}
  </body>
</html>