<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fish Post</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='fishpost_style.css') }}" rel="stylesheet">
  </head>

  <body>
    {%- block topbar -%}
    <div class="topbar" style="z-index:1000">
      <div class="fill">
        <div class="container">

          <h2>
            <a href="/" class="brand">Home</a>
          </h2>
          <h2>
            <a href="{{ url_for("admin.index") }}" class="brand">Post Something</a>
          </h2>
          <ul class="floatright">
          {% if g.user %}
            <li><a href="{{ url_for ("logout") }}">sign out</a></li>
          {% else %}
            <li><a href="{{ url_for ("login") }}">sign in</a></li>
          {% endif %}
          </ul>
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
      <div class="content">

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
          //var youtube = $("iframe[src^='http://www.youtube.com']");
          //var youtube_secure = $("iframe[src^='https://www.youtube.com']");
          //var youtube_html = $("iframe[src^='//www.youtube.com']");
          //var vimeo = $("iframe[src^='http://player.vimeo.com']");
          //var vimeo_cdn = $(".video");
          //var facebook = $("iframe[src^='https://www.facebook.com']");
          //console.log(typeof(youtubes));
          //var vids = youtube.add(youtube_secure).add(youtube_html).add(vimeo).add(vimeo_cdn).add(facebook);
          //console.log(vids);
          var iframes = $("iframe");
          iframes.each(function() {
              var aspectRatio = this.height / this.width;
              var new_height = 640 * aspectRatio
              console.log(aspectRatio);
              this.width = 640;
              this.height = new_height;
              //Fix z-index youtube video embedding
              var url = $(this).attr("src");
              var char = "?";
              if(url.indexOf("?") != -1){
                var char = "&";
              }
              $(this).attr("src",url+char+"wmode=transparent");
          });
      });
    </script>
    {% endblock %}
  </body>
</html>