{% extends "base.html" %}



{% block js_footer %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function () {
          $('#title').keyup(function () {
              // get title
              var val = $('#title').val();
              // replace all spaces with dashes
              // replace any non alphanumeric characters
              var slug = val.replace( /[^a-zA-Z0-9]+/g, "-")

              // inject into slug as lowercase
              $('#slug').val(slug.toLowerCase());
          })
      });
  </script>
{% endblock %}